<%= @contact_message.content %>

<div style="text-align: right;">
  <p>----</p>
  <p><%= "Ta wiadomość została wysłana przez portal terrain-editor.herokuapp.com" %></p>
  <p><%= @contact_message.name %></p>
  <p><%= "Autor: #{ @contact_message.email }" %></p>
</div>
